<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grg.idcard">

    <application>
        <activity
            android:name=".IdCardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" />
    </application>

</manifest>
