<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grg.face">

    <application>
        <activity
            android:name=".FaceActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".single.SingleCameraActivity">
        </activity>
        <activity android:name=".living.SingleLivingCameraActivity">
        </activity>
        <activity android:name=".cameraview.FaceCheckCameraActivity">
        </activity>
        <activity android:name=".living.LivingCameraActivity">
        </activity>
        <activity android:name=".custom.CustomActivity">
        </activity>
    </application>

</manifest>